@font-face {
    font-family: "quantico-bold";
    src: url("./assets/fonts/quantico/Quantico-Bold.ttf");
}

@font-face {
    font-family: "quantico-regular";
    src: url("./assets/fonts/quantico/Quantico-Regular.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1A1A1A;
}


