footer {
    width: 100%;
    height: 245px;
    background-color: #121315;
    padding: 100px;
    margin-top: 50px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    font-family: "quantico-regular";
    font-size: 18px;
    margin-bottom: 5px;
}

footer p {
    font-family: "quantico-regular";
    font-size: 14px;
    line-height: 25px;
}

#footerSocialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerSocialMedia p {
    margin-bottom: 10px;
}

#iconsSocialMedia {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

