#compilationContainer {
    position: fixed;
    top: 27%;
    left: 18%;
    z-index: 999;

    width: 60vw;

    border-radius: 20px;
    border: 2px solid #FF7EFF;
    background: #1A1A1A;
    box-shadow: 4px 4px 20px 2px #FF5CB3;
}

#compilationContent {
    margin: 0 2.75rem 2rem 3rem;
}

.title {
    margin: 0 0 1rem 0;
    color: #FF7EFF;
    font-family: quantico-bold;
    font-size: 1.25rem;
}

.infoText {
    color: #FFF;
    font-family: quantico-regular;
    font-size: 1rem;
    line-height: 30px; /* 187.5% */
}

#managerButtonsContainer {
    margin: 0rem 1.8rem 2.75rem 1.8rem;
}

.managerButtons {
    margin: 0.5rem 1rem;
    width: 10.5rem;
    height: 1.75rem;

    border: none;
    border-radius: 10px;
    background: #FF83FB;
    box-shadow: 2px 2px 8px 0px #9B409B;
    color: #FFF;
    font-family: quantico-regular;
    font-size: 1rem;
}

#closeButton {
    margin-left: 56vw;
    margin-top: 3vh;
}

.blur {
    filter: blur(5px);
}

.noScroll{
    overflow-y: hidden;
}
