#graphContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.graphDivContainer {
    width: 100%;
}

#graph1, #graph2, #graph3, #graph4 {
    display: flex;
    justify-content: center;
}


.graphDivContainer p {
    margin-bottom: 10px;
    font-family: "quantico-regular";
    color: #fff;

}

