#mainContainer {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 50px 0 50px;
    gap: 2rem;
    height: 100%;
    position: relative;
}


#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    max-height: 93vh;
    position: sticky;
    top: 20px; 
    bottom: 20px;
}


#buttonContainer button {
    margin-bottom: 20px;
    box-shadow: 0 4px 2px rgba(255, 255, 255, 0.4);

}

#buttonContainer p {
    font-size: 18px;
    font-family: "quantico-bold";
    margin-bottom: 30px;
    line-height: 0.7;
}

.buttonYear {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;

    font-family: "quantico-bold";
    color: white;
    font-size: 16px;
}

#buttonCompilation {
    width: 170px;
    height: 30px;
    background-color: #FF7EFF;
    border-radius: 10px;
    border: none;
    
    font-family: "quantico-bold";
    color: white;
    font-size: 16px;
}

